body{
    background-image: url(buildings2.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.container{
    position: relative;
}

.image1{
    position: absolute;
    left: 500px;
    top: 330px;
}

.image2{
    position: absolute;
    left: 1000px;
    top: 380px;
}

.image3{
    position: absolute;
    left: 100px;
    top: 350px;
}
.image3 img {
    width: 250px;
    height: auto;
}

.image4{
    position: absolute;
    left: 130px;
    top: 200px;
}
.image4 img {
    width: 200px;
    height: auto;
}

.moving-image {
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    animation: move-across 5s linear infinite;
}

@keyframes move-across {
    from {
        left: -200px; /* Starts offscreen to the left */
    }
    to {
        left: 100vw; /* Moves offscreen to the right */
    }
}